In [1]:
import pandas as pd
import numpy as np

data_file = "purchase_data.csv"
data_file_df = pd.read_csv(data_file)
data_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
total_players_df = data_file_df['SN'].value_counts()

total_players_df=len(total_players_df)
total_players_df

576

In [3]:
total_players_df=pd.DataFrame({"Total Players": [total_players_df]})
total_players_df

   Total Players
0            576

In [4]:
unique_items_count = data_file_df["Item ID"].value_counts()
unique_items_count=len(unique_items_count)
# unique_items_count= pd.DataFrame({"Number of Unique Items": [unique_items_count]})
unique_items_count

183

In [5]:
average_price = data_file_df["Price"].mean()
average_price =round(average_price,2)
# average_price=pd.DataFrame({"Average Purchase Price": [average_price]})
average_price

3.05

In [6]:
Total_purchase_quantity = data_file_df["Purchase ID"].value_counts()
Total_purchase_quantity=len(Total_purchase_quantity)
# Total_purchase_quantity= pd.DataFrame({"Total Number of Purchases": [Total_purchase_quantity]})
Total_purchase_quantity

780

In [7]:
Total_revenue = data_file_df["Price"].sum()
# Total_revenue= pd.DataFrame({"Total Revenue": [Total_revenue]})
Total_revenue

2379.77

In [8]:
purchase_analysis = pd.DataFrame({"Number of Unique Items":[unique_items_count], 
                                  "Average Price in Dollars":[average_price],
                                  "Number of Purchases": [Total_purchase_quantity],
                                  "Total Revenue in Dollars": [Total_revenue]})
purchase_analysis= purchase_analysis.set_index("Number of Unique Items")
purchase_analysis

,Average Price in Dollars,Number of Purchases,Total Revenue in Dollars
Number of Unique Items,,,
183,3.05,780,2379.77

In [9]:
gender_count = data_file_df["Gender"].value_counts()
gender_count=pd.DataFrame(gender_count)
gender_count=gender_count.stack().reset_index()
gender_count.columns=["Gender","Gender Delete", "Gender Count"]
gender_count=gender_count[["Gender", "Gender Count"]]
gender_count= gender_count.set_index("Gender")
gender_count

                       Gender Count
Gender
Male                            652
Female                          113
Other / Non-Disclosed            15

In [10]:
gender_percentage = (data_file_df["Gender"].value_counts())/780*100
gender_percentage= pd.DataFrame(round(gender_percentage,2))
gender_percentage=gender_percentage.stack().reset_index()
gender_percentage.columns=["Gender","Gender Delete", "Gender Percentage"]
gender_percentage=gender_percentage[["Gender", "Gender Percentage"]]
gender_percentage= gender_percentage.set_index("Gender")
gender_percentage

                       Gender Percentage
Gender
Male                               83.59
Female                             14.49
Other / Non-Disclosed               1.92

In [11]:
gender_analysis_df=pd.merge(gender_count, gender_percentage, on="Gender")

gender_analysis_df

                       Gender Count  Gender Percentage
Gender
Male                            652              83.59
Female                          113              14.49
Other / Non-Disclosed            15               1.92

In [12]:
gender_df = data_file_df.set_index("Gender")

gender_df= gender_df.groupby(["Gender"])
gender_df.count

In [13]:
gender_avg_price=gender_df["Price"].mean()
gender_avg_price= pd.DataFrame(round(gender_avg_price,2))
gender_avg_price= gender_avg_price.rename(columns={"Gender": "Gender", "Price": "Average Price"})
gender_avg_price

                       Average Price
Gender
Female                          3.20
Male                            3.02
Other / Non-Disclosed           3.35

In [14]:
gender_total_price=gender_df["Price"].sum()
gender_total_price=pd.DataFrame(gender_total_price)
gender_total_price= gender_total_price.rename(columns={"Gender": "Gender", "Price": "Total Price"})
gender_total_price

                       Total Price
Gender
Female                      361.94
Male                       1967.64
Other / Non-Disclosed        50.19

In [15]:
Avg_purchase_gender = gender_df["Purchase ID"].mean()
Avg_purchase_gender=pd.DataFrame(Avg_purchase_gender)
Avg_purchase_gender= Avg_purchase_gender.rename(columns={"Gender": "Gender","Purchase ID": "Average Total"})
Avg_purchase=(Avg_purchase_gender["Average Total"])/(gender_count["Gender Count"])
Avg_purchase_gender= (Avg_purchase_gender["Average Total"])/(gender_count["Gender Count"])
Avg_purchase_gender=pd.DataFrame(Avg_purchase_gender)

Avg_purchase_gender

                               0
Gender
Female                  3.357350
Male                    0.602020
Other / Non-Disclosed  22.306667

In [16]:
gender_purchase_analysis= pd.merge(gender_count, gender_avg_price, on="Gender")
gender_purchase_analysis=pd.merge(gender_purchase_analysis, gender_total_price, on="Gender")
gender_purchase_analysis=pd.merge(gender_purchase_analysis, Avg_purchase_gender, on="Gender")
gender_purchase_analysis=gender_purchase_analysis.rename(columns={"Gender": "Gender",(0): "Average Purchase"})
gender_purchase_analysis

,Gender Count,Average Price,Total Price,Average Purchase
Gender,,,,
Male,652,3.02,1967.64,0.602020
Female,113,3.20,361.94,3.357350
Other / Non-Disclosed,15,3.35,50.19,22.306667

In [17]:
bins = [0, 9, 13, 18, 23, 28, 33, 38, 140]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [18]:
age_count_df= pd.cut(data_file_df["Age"], bins, labels=group_names)
age_count_df= pd.DataFrame(age_count_df)
age_count_df=age_count_df.groupby("Age")

age_count_df= pd.DataFrame(age_count_df["Age"].count())
age_count_df= age_count_df.rename(columns={"Age": "Age", "Age": "Player Count"})
age_count_df

       Player Count
Age
<10              23
10-14            26
15-19           115
20-24           321
25-29           155
30-34            77
35-39            44
40+              19

In [19]:
age_percentage_df= pd.cut(data_file_df["Age"], bins, labels=group_names)
age_percentage_df=pd.DataFrame(age_percentage_df)
age_percentage_df= age_percentage_df.groupby("Age")

age_percentage_df= pd.DataFrame(age_percentage_df["Age"].count())
age_percentage_df= age_percentage_df.rename(columns={"Age": "Age", "Age": "Player Count"})
age_percentage_df= round(age_percentage_df["Player Count"]/780*100,2)
age_percentage_df=pd.DataFrame(age_percentage_df)
age_percentage_df= age_percentage_df.rename(columns={"Age": "Age", "Player Count": "Percentage"})
age_percentage_df

       Percentage
Age
<10          2.95
10-14        3.33
15-19       14.74
20-24       41.15
25-29       19.87
30-34        9.87
35-39        5.64
40+          2.44

In [20]:
age_analysis_df=pd.merge(age_count_df, age_percentage_df, on="Age")

age_analysis_df

       Player Count  Percentage
Age
<10              23        2.95
10-14            26        3.33
15-19           115       14.74
20-24           321       41.15
25-29           155       19.87
30-34            77        9.87
35-39            44        5.64
40+              19        2.44

In [21]:
new_df=pd.cut(data_file_df["Age"], bins, labels=group_names).head()
data_file_df["Age"] = pd.cut(data_file_df["Age"], bins, labels=group_names)
new_df=data_file_df
new_df= new_df.groupby("Age")
new_df

In [22]:
avg_price_df=round((new_df[["Price"]].mean()),2)
avg_price_df=avg_price_df.rename(columns={"Age":"Age", "Price": "Average Price in Dollars"})
avg_price_df

       Average Price in Dollars
Age
<10                        3.35
10-14                      2.92
15-19                      3.04
20-24                      3.03
25-29                      3.02
30-34                      2.95
35-39                      3.33
40+                        3.24

In [23]:
age_purchase_analysis=pd.merge(age_count_df, avg_price_df, on="Age")

age_purchase_analysis

       Player Count  Average Price in Dollars
Age
<10              23                      3.35
10-14            26                      2.92
15-19           115                      3.04
20-24           321                      3.03
25-29           155                      3.02
30-34            77                      2.95
35-39            44                      3.33
40+              19                      3.24

In [24]:
total_price_df=round((new_df[["Price"]].sum()),2)

total_price_df= total_price_df.rename(columns={"Age": "Age", "Price": "Total Purchase Value"})
total_price_df

       Total Purchase Value
Age
<10                   77.13
10-14                 75.87
15-19                349.82
20-24                973.82
25-29                467.99
30-34                227.10
35-39                146.48
40+                   61.56

In [25]:
age_purchase_analysis=pd.merge(age_purchase_analysis, total_price_df, on="Age")

age_purchase_analysis

       Player Count  Average Price in Dollars  Total Purchase Value
Age
<10              23                      3.35                 77.13
10-14            26                      2.92                 75.87
15-19           115                      3.04                349.82
20-24           321                      3.03                973.82
25-29           155                      3.02                467.99
30-34            77                      2.95                227.10
35-39            44                      3.33                146.48
40+              19                      3.24                 61.56

In [26]:
Avg_purchase = new_df["Purchase ID"].mean()
Avg_purchase=pd.DataFrame(Avg_purchase)
Avg_purchase= Avg_purchase.rename(columns={"Age": "Age","Purchase ID": "Average Total"})
Avg_purchase=(Avg_purchase["Average Total"])/(age_count_df["Player Count"])
Avg_purchase=pd.DataFrame(Avg_purchase)

Avg_purchase

               0
Age
<10    18.920605
10-14  13.511834
15-19   3.543819
20-24   1.199144
25-29   2.533070
30-34   4.800641
35-39   8.632748
40+    22.731302

In [27]:
age_purchase_analysis=pd.merge(age_purchase_analysis, Avg_purchase, on="Age")

age_purchase_analysis= age_purchase_analysis.rename(columns={"Age": "Age", (0): "Average Purchase"})
age_purchase_analysis

,Player Count,Average Price in Dollars,Total Purchase Value,Average Purchase
Age,,,,
<10,23,3.35,77.13,18.920605
10-14,26,2.92,75.87,13.511834
15-19,115,3.04,349.82,3.543819
20-24,321,3.03,973.82,1.199144
25-29,155,3.02,467.99,2.533070
30-34,77,2.95,227.10,4.800641
35-39,44,3.33,146.48,8.632748
40+,19,3.24,61.56,22.731302