In [143]:
import pandas as pd

data_file = "purchase_data.csv"
data_file_df = pd.read_csv(data_file)
data_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [144]:
total_players_df = data_file_df['SN'].value_counts()

total_players_df=len(total_players_df)
total_players_df

576

In [145]:
unique_items_count = data_file_df["Item ID"].value_counts()
unique_items_count=len(unique_items_count)
unique_items_count

183

In [146]:
average_price = data_file_df["Price"].mean()
average_price =round(average_price,2)
average_price

3.05

In [147]:
Total_purchase_quantity = data_file_df["Purchase ID"].value_counts()
Total_purchase_quantity=len(Total_purchase_quantity)
Total_purchase_quantity

780

In [148]:
Total_revenue = data_file_df["Price"].sum()
Total_revenue

2379.77

In [149]:
gender_count = data_file_df["Gender"].value_counts()
gender_count=pd.DataFrame(gender_count)
gender_count=gender_count.stack().reset_index()
gender_count.columns=["Gender","Gender Delete", "Gender Count"]
gender_count=gender_count[["Gender", "Gender Count"]]
gender_count

                  Gender  Gender Count
0                   Male           652
1                 Female           113
2  Other / Non-Disclosed            15

In [150]:
gender_percentage = (data_file_df["Gender"].value_counts())/780*100
gender_percentage= pd.DataFrame(round(gender_percentage,2))
gender_percentage=gender_percentage.stack().reset_index()
gender_percentage.columns=["Gender","Gender Delete", "Gender Percentage"]
gender_percentage=gender_percentage[["Gender", "Gender Percentage"]]
gender_percentage

                  Gender  Gender Percentage
0                   Male              83.59
1                 Female              14.49
2  Other / Non-Disclosed               1.92

In [151]:
purchase_analysis_df = pd.DataFrame({"Total Number of Players":[total_players_df],
                        "Number of Unique Items":[unique_items_count],
                        "Average Purchase Price":[average_price],
                        "Total Number of Purchases":[Total_purchase_quantity],
                        "Total Revenue":[Total_revenue]})
purchase_analysis_df

,Total Number of Players,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,576,183,3.05,780,2379.77

In [152]:
gender_analysis_df=pd.merge(gender_count, gender_percentage, on="Gender")
gender_analysis_df

                  Gender  Gender Count  Gender Percentage
0                   Male           652              83.59
1                 Female           113              14.49
2  Other / Non-Disclosed            15               1.92

In [156]:
gender_group_df= data_file_df.groupby(["Gender"])
gender_group_df.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15